<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CasioController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CasioController.Properties.Settings>
            <setting name="WatchType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Timezone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HourlyBeep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="ReceivePort" serializeAs="String">
                <value>9100</value>
            </setting>
        </CasioController.Properties.Settings>
    </userSettings>
</configuration>